# Environment
.env
*.local.php

# PHP
vendor/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
android

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
mysql_data/

# Logs
*.log

